.det-container {
  display: flex;
  .video-container {
    display: flex;
    flex-direction: column;
    button {
      display: flex;
      align-self: flex-end;
      height: auto;
      padding: 6px;
    }
  }
  .image-container {
    margin-left: 40px;
    margin-top: 20px;
    .detected-image {
      width: 500px;
      height: 300px;
      padding: 20px;
      border: 1px solid #c4c4c4;
    }
  }
}
