<div class="dashboard-container">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="logo"><img src="assets/images/att_globe_only.png" alt="" height="35" width="35" /> <span>ICS</span></div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="'over'" fixedTopGap="56">
      <mat-nav-list class="nav-list">
        <div class="main-menu">
          <p class="menu-name">Live Streaming</p>
          <div class="sub-menu">
            <ng-container *ngIf="!isIphone">
              <a routerLinkActive="active" (click)="snav.toggle() && navigateToScreen('webcamLive')">Web Cam Live</a>
              <a routerLinkActive="active" (click)="snav.toggle() && navigateToScreen('droneLive')">Drone Live</a>
            </ng-container>
            <a routerLinkActive="active" (click)="snav.toggle() && navigateToScreen('iPhoneLive')">iPhone Live</a>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
